version: '3.8'

services:
  bot:
    build: .
    image: botifler:latest
    container_name: botifler_container
    env_file:
      - .env
    user: "${UID_ENV:-1000}:${GID_ENV:-1000}"
    environment:
      PYTHONUNBUFFERED: "1"
      HOME: /home/botuser
    shm_size: '2gb'
